<div class="panel-body">
	<div id="editNotificationsContainer" class="notifications-container">
	</div>
	<div class="buttons-container">
		<button type="button" data-bind="click: $parent.backFromEdit" class="btn btn-info">
			<span class="fa fa-angle-left"></span>
			Back
		</button>
		<button type="button" data-bind="click: save" class="btn btn-primary" disabled>
			<span class="fa fa-save"></span>
			Save
		</button>
		<button type="button" data-bind="click: revert" class="btn btn-danger" disabled>
			<span class="fa fa-undo"></span>
			Revert
		</button>
	</div>

	<table data-bind="visible: values().length > 0" class="table table-striped storedData-table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Value</th>
			<!--<th>Status</th>-->
		</tr>
		</thead>
		<tbody data-bind="foreach: { data: values }">
		<tr>
			<td data-bind="text: $data.id"></td>
			<td data-bind="text: $data.name"></td>
			<td>
				<input type="text" data-bind="value: $data.val" placeholder="Value" />
			</td>
			<!--<td>-->
				<!--<select>-->
					<!--<option value="1">Active</option>-->
					<!--<option value="2">Skipped</option>-->
				<!--</select>-->
			<!--</td>-->
		</tr>
		</tbody>
	</table>
</div>