.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*@-webkit-keyframes fadeOutLeft {*/
	/*0% {*/
		/*opacity: 1;*/
	/*}*/

	/*100% {*/
		/*opacity: 0;*/
		/*-webkit-transform: translate3d(-100%, 0, 0);*/
		/*transform: translate3d(-100%, 0, 0);*/
	/*}*/
/*}*/

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		margin-left: -400px;
		disaply: none;
		transform: translate3d(-100%, 0, 0);
	}
}

.fadeOutLeft {
	animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}


@keyframes fadeInRight {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}