body {
	width: 500px;
	overflow-x: hidden;
}

img {
	margin: 5px;
	border: 2px solid black;
	vertical-align: middle;
	width: 75px;
	height: 75px;
}

.storedData-table .name {
	width: 130px;
	font-size: 13px;
}

.panel-body .buttons-container {
	padding-left: 5px;
}