.notifications-container{
	position: relative;
}

/* TODO: try to remove !important */
.notifications-container > ul {
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
	top: -1px !important;
}

.notifications-container .list-group-item {
	padding: 1px !important;
}

.notifications-container .noty_inline_layout_container.list-group .list-group-item:last-child {
	margin-bottom: 7px;
}